<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.AssetOrderRoomMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.AssetOrderRoom">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="floor_id" jdbcType="BIGINT" property="floorId" />
    <result column="room_id" jdbcType="BIGINT" property="roomId" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="unitprice" jdbcType="VARCHAR" property="unitprice" />
  </resultMap>
  <resultMap id="BasMap" type="com.macro.mall.dto.AssetOrderRoomDto">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="floor_id" jdbcType="BIGINT" property="floorId" />
    <result column="name" jdbcType="VARCHAR" property="floorName" />
    <result column="room_num" jdbcType="VARCHAR" property="roomNum" />
    <result column="room_id" jdbcType="BIGINT" property="roomId" />
    <result column="floor_num" jdbcType="VARCHAR" property="floorNum" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="unitprice" jdbcType="VARCHAR" property="unitprice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_id, floor_id, room_id, begin_time, end_time, price,unitprice
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.AssetOrderRoomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from asset_order_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from asset_order_room
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByOrderId" parameterType="java.lang.Long" resultMap="BasMap">
    select
    af.id as floor_id,af.name,ar.id as room_id,ar.room_num,ar.floor_num,aor.id, aor.order_id,  aor.begin_time, aor.end_time, aor.price,aor.unitprice
    from asset_order_room aor left join asset_floor af on aor.floor_id=af.id
     left join  asset_room ar on aor.room_id=ar.id
    where order_id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByLqtx" parameterType="java.lang.Long" resultMap="BasMap">
    select
    af.name,ar.room_num,ar.floor_num,aor.id, aor.order_id,  aor.begin_time, aor.end_time, aor.price,aor.unitprice
    from asset_order_room aor left join asset_floor af on aor.floor_id=af.id
    left join  asset_room ar on aor.room_id=ar.id

    <if test="_parameter != null">
      <where>
        <foreach collection="oredCriteria" item="criteria" separator="or">
          <if test="criteria.valid">
            <trim prefix="(" prefixOverrides="and" suffix=")">
              <foreach collection="criteria.criteria" item="criterion">
                <choose>
                  <when test="criterion.noValue">
                    and aor.${criterion.condition}
                  </when>
                  <when test="criterion.singleValue">
                    and aor.${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue">
                    and aor.${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue">
                    and aor.${criterion.condition}
                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </where>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from asset_order_room
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.AssetOrderRoomExample">
    delete from asset_order_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.AssetOrderRoom">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into asset_order_room (order_id, floor_id, room_id, 
      begin_time, end_time, price,unitprice
      )
    values (#{orderId,jdbcType=BIGINT}, #{floorId,jdbcType=BIGINT}, #{roomId,jdbcType=BIGINT}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{price,jdbcType=DECIMAL}, #{unitprice,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.AssetOrderRoom">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into asset_order_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="floorId != null">
        floor_id,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="unitprice != null">
        unitprice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="floorId != null">
        #{floorId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=BIGINT},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="unitprice != null">
        #{unitprice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.AssetOrderRoomExample" resultType="java.lang.Long">
    select count(*) from asset_order_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update asset_order_room
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.orderId != null">
        order_id = #{row.orderId,jdbcType=BIGINT},
      </if>
      <if test="row.floorId != null">
        floor_id = #{row.floorId,jdbcType=BIGINT},
      </if>
      <if test="row.roomId != null">
        room_id = #{row.roomId,jdbcType=BIGINT},
      </if>
      <if test="row.beginTime != null">
        begin_time = #{row.beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.endTime != null">
        end_time = #{row.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.price != null">
        price = #{row.price,jdbcType=DECIMAL},
      </if>
      <if test="row.unitprice != null">
        unitprice = #{row.unitprice,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update asset_order_room
    set id = #{row.id,jdbcType=BIGINT},
      order_id = #{row.orderId,jdbcType=BIGINT},
      floor_id = #{row.floorId,jdbcType=BIGINT},
      room_id = #{row.roomId,jdbcType=BIGINT},
      begin_time = #{row.beginTime,jdbcType=TIMESTAMP},
      end_time = #{row.endTime,jdbcType=TIMESTAMP},
      price = #{row.price,jdbcType=DECIMAL},
    unitprice = #{row.unitprice,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.AssetOrderRoom">
    update asset_order_room
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="floorId != null">
        floor_id = #{floorId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=BIGINT},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="unitprice != null">
        unitprice = #{unitprice,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.AssetOrderRoom">
    update asset_order_room
    set order_id = #{orderId,jdbcType=BIGINT},
      floor_id = #{floorId,jdbcType=BIGINT},
      room_id = #{roomId,jdbcType=BIGINT},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=DECIMAL},
    unitprice = #{unitprice,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateAll" parameterType="com.macro.mall.model.AssetRoom">
    update asset_room
    set is_occupancy='0'
  </update>

  <select id="selectOrderTj" parameterType="com.macro.mall.model.AssetOrderRoomExample" resultType="map">
    select
    DATE_FORMAT(begin_time,'%Y-%m-%d') as date,
    count(id) as orderCount,
    sum(price)as orderAmount
    from asset_order_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
   group by begin_time
  </select>

</mapper>