<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.AssetOrderMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.AssetOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="order_type" jdbcType="VARCHAR" property="orderType" />
    <result column="czr" jdbcType="VARCHAR" property="czr" />
    <result column="czrlxdh" jdbcType="VARCHAR" property="czrlxdh" />
    <result column="zlr" jdbcType="VARCHAR" property="zlr" />
    <result column="zlrlxdh" jdbcType="VARCHAR" property="zlrlxdh" />
    <result column="zfsj" jdbcType="TIMESTAMP" property="zfsj" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="zffs" jdbcType="VARCHAR" property="zffs" />
    <result column="zje" jdbcType="DECIMAL" property="zje" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_num, order_type, czr, czrlxdh, zlr, zlrlxdh, zfsj,createtime, zffs, zje
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.AssetOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from asset_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from asset_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from asset_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.AssetOrderExample">
    delete from asset_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.AssetOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into asset_order (order_num, order_type, czr, 
      czrlxdh, zlr, zlrlxdh, 
      zfsj,createtime, zffs, zje)
    values (#{orderNum,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, #{czr,jdbcType=VARCHAR}, 
      #{czrlxdh,jdbcType=VARCHAR}, #{zlr,jdbcType=VARCHAR}, #{zlrlxdh,jdbcType=VARCHAR}, 
      #{zfsj,jdbcType=TIMESTAMP},#{createtime,jdbcType=TIMESTAMP}, #{zffs,jdbcType=VARCHAR}, #{zje,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective"  parameterType="com.macro.mall.model.AssetOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into asset_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="czr != null">
        czr,
      </if>
      <if test="czrlxdh != null">
        czrlxdh,
      </if>
      <if test="zlr != null">
        zlr,
      </if>
      <if test="zlrlxdh != null">
        zlrlxdh,
      </if>
      <if test="zfsj != null">
        zfsj,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="zffs != null">
        zffs,
      </if>
      <if test="zje != null">
        zje,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNum != null">
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="czr != null">
        #{czr,jdbcType=VARCHAR},
      </if>
      <if test="czrlxdh != null">
        #{czrlxdh,jdbcType=VARCHAR},
      </if>
      <if test="zlr != null">
        #{zlr,jdbcType=VARCHAR},
      </if>
      <if test="zlrlxdh != null">
        #{zlrlxdh,jdbcType=VARCHAR},
      </if>
      <if test="zfsj != null">
        #{zfsj,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="zffs != null">
        #{zffs,jdbcType=VARCHAR},
      </if>
      <if test="zje != null">
        #{zje,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.AssetOrderExample" resultType="java.lang.Long">
    select count(*) from asset_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update asset_order
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.orderNum != null">
        order_num = #{row.orderNum,jdbcType=VARCHAR},
      </if>
      <if test="row.orderType != null">
        order_type = #{row.orderType,jdbcType=VARCHAR},
      </if>
      <if test="row.czr != null">
        czr = #{row.czr,jdbcType=VARCHAR},
      </if>
      <if test="row.czrlxdh != null">
        czrlxdh = #{row.czrlxdh,jdbcType=VARCHAR},
      </if>
      <if test="row.zlr != null">
        zlr = #{row.zlr,jdbcType=VARCHAR},
      </if>
      <if test="row.zlrlxdh != null">
        zlrlxdh = #{row.zlrlxdh,jdbcType=VARCHAR},
      </if>
      <if test="row.zfsj != null">
        zfsj = #{row.zfsj,jdbcType=TIMESTAMP},
      </if>
      <if test="row.createtime != null">
        createtime = #{row.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.zffs != null">
        zffs = #{row.zffs,jdbcType=VARCHAR},
      </if>
      <if test="row.zje != null">
        zje = #{row.zje,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update asset_order
    set id = #{row.id,jdbcType=BIGINT},
      order_num = #{row.orderNum,jdbcType=VARCHAR},
      order_type = #{row.orderType,jdbcType=VARCHAR},
      czr = #{row.czr,jdbcType=VARCHAR},
      czrlxdh = #{row.czrlxdh,jdbcType=VARCHAR},
      zlr = #{row.zlr,jdbcType=VARCHAR},
      zlrlxdh = #{row.zlrlxdh,jdbcType=VARCHAR},
      zfsj = #{row.zfsj,jdbcType=TIMESTAMP},
    createtime = #{row.createtime,jdbcType=TIMESTAMP},
      zffs = #{row.zffs,jdbcType=VARCHAR},
      zje = #{row.zje,jdbcType=DECIMAL}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.AssetOrder">
    update asset_order
    <set>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="czr != null">
        czr = #{czr,jdbcType=VARCHAR},
      </if>
      <if test="czrlxdh != null">
        czrlxdh = #{czrlxdh,jdbcType=VARCHAR},
      </if>
      <if test="zlr != null">
        zlr = #{zlr,jdbcType=VARCHAR},
      </if>
      <if test="zlrlxdh != null">
        zlrlxdh = #{zlrlxdh,jdbcType=VARCHAR},
      </if>
      <if test="zfsj != null">
        zfsj = #{zfsj,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="zffs != null">
        zffs = #{zffs,jdbcType=VARCHAR},
      </if>
      <if test="zje != null">
        zje = #{zje,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.AssetOrder">
    update asset_order
    set order_num = #{orderNum,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=VARCHAR},
      czr = #{czr,jdbcType=VARCHAR},
      czrlxdh = #{czrlxdh,jdbcType=VARCHAR},
      zlr = #{zlr,jdbcType=VARCHAR},
      zlrlxdh = #{zlrlxdh,jdbcType=VARCHAR},
      zfsj = #{zfsj,jdbcType=TIMESTAMP},
    createtime = #{createtime,jdbcType=TIMESTAMP},
      zffs = #{zffs,jdbcType=VARCHAR},
      zje = #{zje,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectOrderTj" parameterType="com.macro.mall.model.AssetOrderExample" resultType="map">
    select
    DATE_FORMAT(createtime,'%Y-%m-%d') as date,
    count(id) as orderCount,
    sum(zje)as orderAmount
    from asset_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    group by createtime
  </select>
</mapper>